﻿@using DungeonKeeper.Client.Components

@page "/builder"
@inherits BuilderBase

@if (Races == null)
{
    <div class="fa-3x center-spinner">
        <div class="fa fa-sync spin"></div>
    </div>
}
else
{
    <div class="body-race-main">
        @foreach (var item in Races)
        {
            <RaceDisplay Race="@item" />
        }
    </div>
}


