﻿@page "/login"
@inherits LoginBase

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <EditForm Model="@m_user" OnValidSubmit="@userLogin">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Log in to continue
                            </h5>

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            @*Username Section*@
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="floating-label-wrap">
                                        <input class="floating-label-field floating-label-field--s1" @bind-value="@m_user.Username" placeholder="Username" type="text">
                                        <label class="floating-label">Username</label>
                                        <span class="fa fa-hat-wizard input-icon-left input-icon"></span>
                                    </div>
                                </div>
                            </div>

                            @*Password section*@
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="floating-label-wrap">
                                        <input class="floating-label-field floating-label-field--s1" @bind-value="@m_user.Password" placeholder="Password" type="@m_passwordType">
                                        <label class="floating-label">Password</label>
                                        <span class="fa fa-lock input-icon input-icon-left"></span>
                                        <span class="fa @m_passwordIcon input-icon input-icon-right input-icon-right-clickable" @onclick="showPassword"></span>
                                    </div>
                                </div>
                            </div>

                            @*Remember Checkbox section*@
                            <label class="custom-control fill-checkbox">
                                <input type="checkbox" class="fill-control-input">
                                <span class="fill-control-indicator"></span>
                                Remember me
                            </label>

                            @*Signin button*@
                            <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit">Sign in</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</body>