﻿@page "/register"
@inherits RegisterBase

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <EditForm Model="@m_registeredUser" OnValidSubmit="@registerUser">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                Register an account
                            </h5>

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            @*Username Section*@
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="floating-label-wrap">
                                        <input class="floating-label-field floating-label-field--s1" @bind-value="@m_registeredUser.Username" placeholder="Username" type="text">
                                        <label class="floating-label">Username</label>
                                        <span class="fa fa-hat-wizard input-icon-left input-icon"></span>
                                    </div>
                                </div>
                            </div>


                            @*Username Section*@
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="floating-label-wrap">
                                        <input class="floating-label-field floating-label-field--s1" @bind-value="@m_registeredUser.Email" placeholder="Email" type="text">
                                        <label class="floating-label">Email</label>
                                        <span class="fa fa-at input-icon-left input-icon"></span>
                                    </div>
                                </div>
                            </div>


                            @*Password section*@
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="floating-label-wrap">
                                        <input class="floating-label-field floating-label-field--s1" @bind-value="@m_registeredUser.Password" placeholder="Password" type="@m_passwordType">
                                        <label class="floating-label">Password</label>
                                        <span class="fa fa-lock input-icon input-icon-left"></span>
                                        <span class="fa @m_passwordIcon input-icon input-icon-right input-icon-right-clickable" @onclick="showPassword"></span>
                                    </div>
                                </div>
                            </div>

                            @*Signin button*@
                            <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit">Register</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</body>