﻿.body-race-main {
    max-width: 680px;
    margin: 0 auto;
}

.race-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    border: 1px solid #A5A5A5;
    border-radius: 5px !important;
    padding: 10px;
    margin: 5px;
    min-height: 53px;
    cursor: pointer;
}

.race-image {
    width: 40px;
    height: 40px;
    border-radius: 2px !important;
}

.race-title {
    flex: 1;
    padding: 15px;
    font-weight: bold;
    color: #D4D4D4;
}

.race-arrow {
    font-size: 25px;
}

.race-arrow-down {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

    .race-arrow-down.open {
        transform: rotate(-180deg);
        transition: transform 0.2s linear;
    }

.race-subraces-container {
    margin-left: 20px;
    animation: fadeIn 400ms 0ms forwards;
}

    .race-subraces-container.hidden {
        display: none;
    }


@keyframes fadeIn {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}