﻿@import url('../lib/font-awesome/css/all.min.css');

.input-icon {
    margin-right: 6px;
    margin-top: -40px;
    position: relative;
    z-index: 3000;
    color: #838383;
}

.input-icon-left {
    float: left;
}

.input-icon-right {
    float: right;
}

.input-icon-right-clickable {
    transition-duration: 0.2s;
    cursor: pointer;
}

    .input-icon-right-clickable:hover {
        color: #D4D4D4;
    }

.card-signin {
    border: 0;
    background: #313131;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

body {
    font-family: "Varela Round";
    /*color: #eee;
    background-color: #2c3e50;*/
}

/*a {
    color: #fff;
}*/

/* Making the label break the flow */
.floating-label {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    z-index: 1500;
}

/* Hide the browser-specific focus styles */
.floating-label-field {
    color: rgba(44, 62, 80, .75);
    border-width: 0;
    z-index: 2000;
}

    .floating-label-field:focus {
        outline: 0;
        box-shadow: 0;
    }


    .floating-label-field:placeholder {
        color: rgba(44, 62, 80, .5);
    }

/* Make the label and field look identical on every browser */
.floating-label,
.floating-label-field {
    font: inherit;
    line-height: 1;
    display: block;
    width: 100%;
}

.floating-label-field,
.floating-label-wrap {
    position: relative;
}

/* Input Style #1 */
.floating-label-field--s1 {
    transition: border-color .25s ease-in-out;
    color: rgba(255, 255, 255, .75);
    border-bottom: 3px solid rgba(255, 255, 255, .05);
    background-color: transparent;
}

    .floating-label-field--s1 + .floating-label {
        transition: transform .25s, opacity .25s ease-in-out;
        transform-origin: 0 0;
        opacity: .5;
    }

    .floating-label-field--s1:focus,
    .floating-label-field--s1:not(:placeholder-shown) {
        border-color: rgba(255, 255, 255, .1);
    }

        .floating-label-field--s1:focus + .floating-label,
        .floating-label-field--s1:not(:placeholder-shown) + .floating-label {
            transform: translate(.25em, -30%) scale(.8);
            opacity: .25;
        }

    .floating-label-field--s1:valid:not(:placeholder-shown) {
        border-color: rgba(46, 213, 115, .3);
    }

    .floating-label-field--s1:invalid {
        border-color: rgba(255, 71, 87, .3);
    }

/* Input Style #2 */
.floating-label-field--s2 {
    transition: background-color .25s ease-in-out;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}

    .floating-label-field--s2 + .floating-label {
        visibility: hidden;
        transition: transform .25s, visibility .5s, opacity .5s ease-in-out;
        opacity: 0;
    }

    .floating-label-field--s2:focus + .floating-label,
    .floating-label-field--s2:not(:placeholder-shown) + .floating-label {
        visibility: visible;
        transform: translateY(-80%);
        opacity: .5;
    }

    .floating-label-field--s2:valid:not(:placeholder-shown) {
        border-color: #adefc8;
        background-color: #adefc8;
    }

    .floating-label-field--s2:invalid {
        border-color: #ffe0e3;
        background-color: #ffe0e3;
    }

.floating-label-field--s3 {
    padding: 1.5em;
    transition: border-color .25s ease-in-out;
    color: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    background-color: transparent;
}

    .floating-label-field--s3 + .floating-label {
        position: absolute;
        top: .75em;
        left: .75em;
        display: inline-block;
        width: auto;
        margin: 0;
        padding: .75em;
        transition: transform .25s, opacity .25s, padding .25s ease-in-out;
        transform-origin: 0 0;
        color: rgba(255, 255, 255, .5);
    }

    .floating-label-field--s3:focus,
    .floating-label-field--s3:not(:placeholder-shown) {
        border-color: rgba(255, 255, 255, .1);
    }

        .floating-label-field--s3:focus + .floating-label,
        .floating-label-field--s3:not(:placeholder-shown) + .floating-label {
            z-index: 2500;
            padding: .75em;
            transform: translate(0, -2em) scale(.9);
            color: rgba(255, 255, 255, .25);
            background-color: #2c3e50;
        }

    /* Common Styles */
    /* Identical inputs on all browsers */
    .floating-label-field--s1:not(textarea),
    .floating-label-field--s2:not(textarea),
    .floating-label-field--s3:not(textarea) {
        max-height: 4em;
    }

.floating-label-field--s1,
.floating-label-field--s1 + .floating-label,
.floating-label-field--s2,
.floating-label-field--s2 + .floating-label {
    line-height: 1.25em;
    padding: 20px; /*1.5em;*/
}

    .floating-label-field--s1 + .floating-label,
    .floating-label-field--s2 + .floating-label {
        z-index: 1500;
    }

    .floating-label-field--s1::placeholder,
    .floating-label-field--s3::placeholder {
        color: transparent;
    }
