﻿@namespace DungeonKeeper.Client.Components
@using DungeonKeeper.Common.Db

    <div class="race-container" @onclick="expandRace">
        <img class="race-image" src="" alt="">
        <div class="race-title">@Race.Name.ToUpper()</div>
        @if (Race.SubRaces.Count > 0)
        {
            <div class="race-arrow @(animateDown ? "race-arrow-down open" : "race-arrow-down") fa fa-arrow-down"></div>
        }
        else
        {
            <div class="race-arrow fa fa-arrow-right "></div>
        }
    </div>

@if (Race.SubRaces.Count > 0)
{
    @foreach (var subrace in Race.SubRaces)
    {
        <div class="race-subraces-container @(animateDown ? "" : "hidden")">
            <div class="race-container">
                <img class="race-image" src="" alt="">
                <div class="race-title">@subrace.Name.ToUpper()</div>
                <div class="race-arrow fa fa-arrow-right "></div>
            </div>
        </div>
    }
}

@code {

    [Parameter]
    public Race Race { get; set; }

    private bool animateDown;

    private void expandRace()
    {
        animateDown = !animateDown;
    }
}
